<%- include('includes/head', { title: 'User form'}) %>

<body>
    <form method="post" class="user-form">
        <label for="name">Username</label>
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter username"
            required
        />
        <button>Submit</button>
    </form>
</body>
</html>
