<%- include('includes/head', { title: 'Users' })%>

<body>
    <p class="users-caption">Users list</p>
    <div class="users-wrap">
        <ul>
            <% users.forEach(user => {%>
                <li><%= user %></li>
            <% })%>
        </ul>
    </div>
</body>
</html>
